/* .layout */

.layout {
display: flex-column; 
/* update required for responsive */
}
.appBody{
  flex-grow: 1;
  margin-left: 13rem;
  padding: 0.5rem;
}
/* sidebar */

.SideBar {
  position: absolute;
  width: 200px;
  height: 100%;
  left: 0px;
  font-weight: bold;
  background: #a21729;
  box-shadow: inset 90px 0px 123px 1px rgba(0, 0, 0, 0.25);
}

.SideBarList {
  width: 91%;
  padding: 0;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.SideBarList .main {
  letter-spacing: 0.1em;
  width: 110%;
  height: 50px;

  display: flex;

  align-items: center;
  color: #ffffff;
  background-color: grey;
}

.SideBarList .row {
  width: 110%;
  height: 50px;
  list-style-type: none;
  color: white !important;
  margin: 0em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  transition: 850;
  text-decoration: none;
}

.SideBarList .row:hover {
  cursor: pointer;
  background-color: #500202;
}

.SideBarList #active {
  background-color: #500202;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

/* Navbar */

.Navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  
  border-bottom: #500202 1px solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 
}
.navbar1 {
  width: 100%;
  height: 30px;
  background-color: #500202;
  padding: 0 15px;
  display: flex;
  align-items: center;
  padding-top: 3px;
  
}


.nav-menu {
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50;
  left: -100%;
  transition: 450ms;
}

.nav-menu.active {
  left: 0;
  transition: 430ms;
}

.nav-left img {
  height: 100px;
}


.nav-right img {
  height: 30px;
  border-radius: 15rem;
}

.nav-right {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-right: 10px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

#name{
  margin-top: 8px ;
 padding: 10px 20px ;
}

#menu{
  display: flex;
  text-decoration: none;
  color: grey;
  margin-top: 6px ;
  margin-right: 1px;
  padding: 10px 15px ;
  
}
.menu{
  display: flex;
}

#menu:hover{
  color: black;
}


