/* .layout */

.layout {
display: flex-column; 
/* update required for responsive */
}
.appBody{
  flex-grow: 1;
  margin-left: 13rem;
  padding: 0.5rem;
}
/* sidebar */

.SideBar {
  position: absolute;
  width: 200px;
  height: 100%;
  left: 0px;
  top: 0px;
  font-weight: bold;
  background: #a21729;
  box-shadow: inset 90px 0px 123px 1px rgba(0, 0, 0, 0.25);
}

.SideBarList {
  width: 91%;
  padding: 0;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.SideBarList .main {
  letter-spacing: 0.1em;
  width: 110%;
  height: 50px;

  display: flex;

  align-items: center;
  color: #ffffff;
  background-color: grey;
}

.SideBarList .row {
  width: 110%;
  height: 50px;
  list-style-type: none;
  color: white !important;
  margin: 0em;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  transition: 850;
  text-decoration: none;
}

.SideBarList .row:hover {
  cursor: pointer;
  background-color: #500202;
}

.SideBarList #active {
  background-color: #500202;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

/* Navbar */

.Navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
  border-bottom: #500202 1px solid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar1 {
  width: 100%;
  height: 30px;
  background-color: #500202;
  padding: 0 15px;
  display: flex;
  align-items: center;
  padding-top: 3px;
 
}

.menu-bars {
  margin-top: 0rem;
  margin-left: 15rem;
  font-size: 2rem;
  background-color: none;
  display: flex;
  transition: 430ms;
  cursor: pointer;
}

.nav-menu {
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50;
  left: -100%;
  transition: 450ms;
}

.nav-menu.active {
  left: 0;
  transition: 430ms;
}

.nav-left img {
  height: 100px;
}

.menu-button {
  margin-top: 0rem;
  font-size: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 0px;
  left: 100;
  padding-left: 13px;
  list-style: none;
}

.nav-right img {
  height: 30px;
  border-radius: 15rem;
}

.nav-right {
  cursor: pointer;
  margin-right: 30px;
  display: flex;
  align-items: center;
  display: flex;
  row-gap: 8px;
  justify-content: space-between;
  width: 9.5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-right:hover {
  background-color: rgb(214, 210, 210);
  height: 100%;
}

/* Dropdown  */

.Dropdown {
  position: relative;
  width: 132px;
  height: auto;
  left: 1155px;
  top: 10px;
  background: #d3cdcd;
  box-shadow: inset 90px 0px 123px 1px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Drp-list {
  width: 91%;
  padding: 0;
  height: auto;
}

.Drp-list .r {
  width: 110%;
  height: 50px;
  list-style-type: none;
  margin: 0em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;

  transition: 850;
}

.Drp-list .r:hover {
  cursor: pointer;
  background-color: rgb(104, 95, 236);
  text-decoration: underline;
}

.r #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.r #title {
  flex: 70%;
}

.dd-menu {
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50;
  top: -100%;
}

.dd-menu.active {
  top: 50px;
}
