@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.App {
  /* text-align: center; */
  font-family: "Montserrat", sans-serif;
  height: auto;
}

h1 {
  font-family: "Roboto Slab", serif;
}

h2 {
  font-family: "Roboto Slab", serif;
}
