.row {
    padding-bottom: 1%;
  }
  
  .bg {
    background-color: #e5e5e5;
    height: 100%;
    padding: 2%;
  }
  
  .mbody {
    padding: 2%;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 3%;
  }
  .sec {
    border-style: solid;
    border-color: rgb(238, 110, 117);
    border-width: 2px;
    border-radius: 1rem;
    padding: 3%;
    padding-top: 0%;
  }
  
  @media only screen and (max-width: 600px) {
    .mbody {
      padding: 5%;
      margin-top: 3%;
    }
    .bg {
      padding: 4%;
    }
  }
  