.row {
  padding-bottom: 1%;
}

.bg {
  background-color: #f1f1f1;
  height: 100%;
  padding: 2%;
}
.fbtn{
  margin:10px;
  padding:7px 40px;
  letter-spacing: 1px;
  font-weight: bold;
}
.mbody {
  padding: 2%;
  background-color: #fff;
  border-radius: 1rem;
  
}
.fordiv{
  border-left-style: double ; 
  border-color:#f59096 ;
  border-width: 3px ;
}
.sec {
  border-style: solid;
  border-color: rgb(238, 110, 117);
  border-width: 2px;
  border-radius: 1rem;
  padding: 3%;
  padding-top: 0%;
}

@media only screen and (max-width: 600px) {
  .mbody {
    padding: 5%;
    margin-top: 3%;
  }
  .bg {
    padding: 4%;
  }
}
